.container-capitais {
    height: 220px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
   border-top: 1px solid white;
    
}

.container-capitais h2{
    color: white;


}