.modal {
    position: relative;
    display: flex;
    height: 250px;
    width: 300px;
    border: 1px solid black;

}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    
}